* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 1s ease;
}

.slider {
    position: relative;
    width: 95%;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background: #252d34; /* Zmieniono kolor paska postępu */
    transition: width 5s linear;
}

.controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    padding: 0 20px;
}

.slider:hover .controls {
    opacity: 1;
}

.controls button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
}

.controls button:hover {
    transform: scale(1.2);
    color: #ef2915; /* Zmieniono kolor hover na #ef2915 */
}
